section:not(#three) {
    height: 400px;
    margin: 10px 0;
  }
  #one {
    background-color: rgb(150, 150, 150);
  }
  #two {
    background-color: rgb(205, 205, 205);
  }
  #three {
    background-color: rgb(150, 150, 150);
    width: 400px;
    margin-bottom: 200px;
  }
  div {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #two div {
    width: 400px;
  }
  #red {
    background-color: red;
  }
  #green {
    background-color: green;
  }
  #blue {
    background-color: blue;
  }
  #orange {
    background-color: orange;
  }
  #purple {
    background-color: purple;
  }
  #brown {
    background-color: brown;
  }
  p {
    margin: 0;
    background-color: #0C2340;
    border: 2px solid #AE9142;
    font-size: 30px;
    color: #C99700;
    text-align: center;
  }
  p:nth-of-type(even) {
    color: #00843D;
  }
  
  /* START BELOW THIS LINE */
#one {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}  

#two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}